{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Rekisteröinti</h1>

<form method="post" action="{{base_path}}/kayttaja">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="kayttajatunnus" class="form-control" value="{{attributes.kayttajatunnus}}" type="text" required>
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana" class="form-control" type="password" required>
    </div>
    <div class="form-group">
        <label>Salasana uudelleen</label>
        <input name="salasana2" class="form-control" type="password" required>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text" required>
    </div>
    <div class="form-group">
        <label>Sukupuoli</label>
        <br>
        {% if attributes.sukupuoli == NULL %}
        <input type="radio" name="sukupuoli" value="N" required>
        Nainen
        <input type="radio" name="sukupuoli" value="M" required>
        Mies
        {% elseif attributes.sukupuoli == 'N' %}
        <input type="radio" name="sukupuoli" value="N" checked>
        Nainen
        <input type="radio" name="sukupuoli" value="M" >
        Mies
        {% else %}
        <input type="radio" name="sukupuoli" value="N" >
        Nainen
        <input type="radio" name="sukupuoli" value="M" checked>
        Mies
        {% endif %}
    </div>
    <div class="form-group">
        <label>Syntymäaika</label>
        <select name="paiva">
            {% for i in 1..31 %}
            {% if i < 10 %}
            {% if i == synttarit.paiva %}
            <option value="0{{i}}" selected>0{{i}}</option>;
            {% else %}
            <option value="0{{i}}">0{{i}}</option>;
            {% endif %}
            {% else %}
            {% if i == synttarit.paiva %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <select name="kuukausi">
            {% for i in 1..12 %}
            {% if i < 10 %}
            {% if i == synttarit.kuukausi %}
            <option value="0{{i}}" selected>0{{i}}</option>;
            {% else %}
            <option value="0{{i}}">0{{i}}</option>;
            {% endif %}
            {% else %}
            {% if i == synttarit.kuukausi %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <select name="vuosi">
            {% for i in 1970..1996 %}
            {% if i == synttarit.vuosi %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endfor %}
        </select>
        <br>
    </div>
    <div class="form-group">
        <label>Paikkakunta</label>
        <input name="paikkakunta" class="form-control" value="{{attributes.paikkakunta}}" type="text" required>
    </div>
    <div>
        <label>Lisää kuva</label> 
        <input type="file" name="kuva" multiple>
        <br>
    </div>
    <div class="form-group">
        <label>Tietoja minusta</label>
        <textarea name="omattiedot" class="form-control">{{attributes.omattiedot}}</textarea>
    </div>
    <h3>Millaista seuraa haen</h3>
    <div class="form-group">
        <label>Etsin</label>
        <br>
        <select class="form-control" name="etsin">
            {% for tarkotus in tarkoitukset %}
            {% if tarkotus.id == attributes.hakutarkoitusid %}
            <option value="{{tarkotus.id}}" selected='selected'>{{tarkotus.nimi}}</option>
            {% else %}
            <option value="{{tarkotus.id}}">{{tarkotus.nimi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>


{% endblock %}