{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<div class="jumbotron">
    <h1>Tervetuloa Ystävänvälitys-palveluun!</h1>
    <br>
    <p>
        Ystävänvälityksen avulla voit löytää uusia ystäviä tai vaikkapa elämäsi 
        rakkauden! Palvelua käyttää huikeat <strong>{{kayttajienMaara}}</strong> käyttäjää ja joku 
        heistä voi olla Sinun tuleva ystäväsi.
        <br>
        <br>
        Rekisteröitymällä käyttäjäksi voit etsiä palvelusta juuri Sinulle sopivia ystäviä 
        kattavalla haku-mahdollisuudella. Joten miksipä ei? Rekisteröidy nyt ilmaiseksi!
        <br>
        <br>
        {{forms.normaali_nappi("#{base_path}/rekisterointi", "Rekisteröidy", "btn btn-primary btn-lg")}}    
    </p>
</div>
{% endblock %}
