{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h2>Käyttäjän {{kayttaja.kayttajatunnus}} profiili</h2>
<br>
<br>
<br>

<dl class="dl-horizontal">
    <dt>Nimi: </dt>
    <dd>{{kayttaja.nimi}}</dd>
    <dt>Syntymäaika: </dt>
    <dd>{{kayttaja.tulostaSyntymaaika()}}</dd>
    <dt>Paikkakunta: </dt>
    <dd>{{kayttaja.paikkakunta}}</dd>
    <dt>Sukupuoli: </dt>
    <dd>{{kayttaja.getSukupuoli()}}</dd>
    <dt>Mitä haen: </dt>
    {% for tarkotus in tarkoitukset %}
    {% if tarkotus.id == kayttaja.hakutarkoitusid %}
   <dd>{{tarkotus.nimi}}</dd>
    {% endif %}
    {% endfor %}
    
</dl>
<br>
<dl class="dl-horizontal">
    <dt>Tietoja minusta </dt>
    <dd>{{kayttaja.omattiedot}}</dd>
</dl>
<br>
<br>
<br>
<div class="form-group">
    <a class="btn btn-primary" href="#" role="button">Lähetä viesti</a>
</div>

{% endblock %}