{% extends "base.html" %}
{% block content %}
<h1>Käyttäjät</h1>
<br>
<table class="table table-striped table-bordered"  >
    <thead>
        <tr>
            <th></th>
            <th>Käyttäjätunnus</th>
            <th>Syntymävuosi</th>
            <th>Sukupuoli</th>
            <th>Paikkakunta</th>
            <th>Tietoja minusta</th>
            <th>Mitä haen</th>
        </tr>
    </thead>

    <tbody>
        {% for kayttaja in kayttajat %}
        {% if kayttaja.id != user_logged_in.id %}
        
        <tr>
            
            {% if kayttaja.kuva != null %}
            <td><img src="{{kayttaja.kuva}}" class="img-rounded" alt="profiilikuva" style="width:64px;height:64px"></td>
            {% else %}
            <td>
            {% endif %}
            
            <td><a href="{{base_path}}/julkinenProfiilisivu/{{kayttaja.id}}">{{kayttaja.kayttajatunnus}}</a></td>
            <td>{{kayttaja.tulostaSyntymaVuosi()}}</td>
            <td>{{kayttaja.sukupuoli}}</td>
            <td>{{kayttaja.paikkakunta}}</td>
            <td>{{kayttaja.omattiedot}}</td>
            {% for tarkotus in tarkoitukset %}
            {% if tarkotus.id == kayttaja.hakutarkoitusid %}
            <td>{{tarkotus.nimi}}</td>
             {% endif %}
             {% endfor %}
        </tr>
           {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
