{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if user_logged_in %}
<h1>Muokkaa profiilia {{user_logged_in.kayttajatunnus}}</h1>
{% endif %}

<form method="post" action="{{base_path}}/{{kayttaja.id}}/muokkaa">
    <div class="form-group">
        <label>Nimimerkki</label>
        <input name='kayttajatunnus' class="form-control" value="{{kayttaja.kayttajatunnus}}" type="text" disabled="disabled">
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input name='nimi' class="form-control" value="{{kayttaja.nimi}}" type="text" required>
    </div>
    <div class="form-group">
        <label>Sukupuoli</label>
        <br>
        {% if kayttaja.sukupuoli == 'N' %}
        <input type="radio" name="sukupuoli" value="Nainen" checked>
        Nainen
        <input type="radio" name="sukupuoli" value="Mies" disabled>
        Mies
        {% else %}
        <input type="radio" name="sukupuoli" value="Nainen" disabled>
        Nainen
        <input type="radio" name="sukupuoli" value="Mies" checked>
        Mies
        {% endif %}
    </div>
    <div class="form-group">
        <label>Syntymäaika</label>
        <select name="paiva">
            {% for i in 1..31 %}
            {% if i < 10 %}
            {% if i == kayttaja.tulostaPaiva() %}
            <option value="0{{i}}" selected>0{{i}}</option>;
            {% else %}
            <option value="0{{i}}">0{{i}}</option>;
            {% endif %}
            {% else %}
            {% if i == kayttaja.tulostaPaiva() %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <select name="kuukausi">
            {% for i in 1..12 %}
            {% if i < 10 %}
            {% if i == kayttaja.tulostaKuukausi() %}
            <option value="0{{i}}" selected>0{{i}}</option>;
            {% else %}
            <option value="0{{i}}">0{{i}}</option>;
            {% endif %}
            {% else %}
            {% if i == kayttaja.tulostaKuukausi() %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <select name="vuosi">
            {% for i in 1970..1996 %}
            {% if i == kayttaja.tulostaSyntymavuosi() %}
            <option value="{{i}}" selected>{{i}}</option>;
            {% else %}
            <option value="{{i}}">{{i}}</option>;
            {% endif %}
            {% endfor %}
        </select>
        <br>
    </div>
    <div class="form-group">
        <label>Paikkakunta</label>
        <input name='paikkakunta' class="form-control" value="{{kayttaja.paikkakunta}}" type="text" required>
    </div>
    <div>
        <label>Lisää kuva</label> 
        <input type="file" name="kuva" multiple>
        <br>
    </div>
    <div class="form-group">
        <label>Tietoja minusta</label>
        <textarea name='omattiedot' class="form-control">{{kayttaja.omattiedot}}</textarea>
    </div>
    <h3>Millaista seuraa haen</h3>
    <div class="form-group">
        <label>Etsin</label>
        <br>
        <select class="form-control" name="etsin">
            {% for tarkotus in tarkoitukset %}
            {% if tarkotus.id == kayttaja.hakutarkoitusid %}
            <option value="{{tarkotus.id}}" selected='selected'>{{tarkotus.nimi}}</option>
            {% else %}
            <option value="{{tarkotus.id}}">{{tarkotus.nimi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <h3>Tallenna muutokset salasanalla</h3>
    <div class="form-group">
        <label>Salasana</label>
        <input class="form-control" type="password" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
