{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<br>
<br>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if user_logged_in.sukupuoli == 'N' %}

<div class="panel panel-danger">
    {% else %}
    <div class="panel panel-info">
        {% endif %}
        <div class="panel-heading">  
            <h3 class="panel-title">Omat tietoni</h3>
        </div>
        <br>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Käyttäjätunnus: </dt>
                <dd>{{user_logged_in.kayttajatunnus}}</dd>
                <dt>Nimi: </dt>
                <dd>{{user_logged_in.nimi}}</dd>
                <dt>Syntymäaika: </dt>
                <dd>{{user_logged_in.tulostaSyntymaaika()}}</dd>
                <dt>Paikkakunta: </dt>
                <dd>{{user_logged_in.paikkakunta}}</dd>
                <dt>Sukupuoli: </dt>
                <dd>{{user_logged_in.getSukupuoli()}}</dd>
                <dt>Mitä haen: </dt>
                {% for tarkotus in tarkoitukset %}
                {% if tarkotus.id == user_logged_in.hakutarkoitusid %}
                <dd>{{tarkotus.nimi}}</dd>
                {% endif %}
                {% endfor %}

            </dl>
            <br>
            <dl class="dl-horizontal">
                <dt>Tietoja minusta </dt>
                <dd>{{user_logged_in.omattiedot}}</dd>
            </dl>
            <br>
            {{forms.normaali_nappi("#{base_path}/muokkaa", "Muokkaa profiilia",'btn btn-primary')}}
            {{forms.normaali_nappi("#{base_path}/vaihdaSalasana", "Vaihda salasana",'btn btn-primary')}}
        </div>
    </div>
    {% endblock %}