{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Omat tietoni</h1>

<br>
<br>
<br>

<dl class="dl-horizontal">
    <dt>Käyttäjätunnus: </dt>
    <dd>{{kayttaja.kayttajatunnus}}</dd>
    <dt>Nimi: </dt>
    <dd>{{kayttaja.nimi}}</dd>
    <dt>Syntymäaika: </dt>
    <dd>{{kayttaja.tulostaSyntymaaika()}}</dd>
    <dt>Paikkakunta: </dt>
    <dd>{{kayttaja.paikkakunta}}</dd>
    <dt>Sukupuoli: </dt>
    <dd>{{kayttaja.getSukupuoli()}}</dd>
    <dt>Mitä haen: </dt>
    {% for tarkotus in tarkoitukset %}
    {% if tarkotus.id == kayttaja.hakutarkoitusid %}
    <dd>{{tarkotus.nimi}}</dd>
    {% endif %}
    {% endfor %}

</dl>
<br>
<dl class="dl-horizontal">
    <dt>Tietoja minusta </dt>
    <dd>{{kayttaja.omattiedot}}</dd>
</dl>
<br>
<br>
<br>
<div class="form-group">
    <a class="btn btn-info" href="{{base_path}}/{{user_logged_in.id}}/muokkaa" role="button">Muokkaa profiilia</a>
</div>
{% endblock %}