{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        <li>{{errors}}</li>
    </ul>
</div>
{% endif %}

{% if user_logged_in %}
<h1>Poista profiili {{user_logged_in.kayttajatunnus}}</h1>
{% endif %}
<br>
<br>
<br>

<dl class="dl-horizontal">
    <dt>Nimi: </dt>
    <dd>{{user_logged_in.nimi}}</dd>
    <dt>Syntymäaika: </dt>
    <dd>{{user_logged_in.tulostaSyntymaaika()}}</dd>
    <dt>Paikkakunta: </dt>
    <dd>{{user_logged_in.paikkakunta}}</dd>
    <dt>Sukupuoli: </dt>
    <dd>{{user_logged_in.getSukupuoli()}}</dd>
    <dt>Mitä haen: </dt>
    {% for tarkotus in tarkoitukset %}
    {% if tarkotus.id == user_logged_in.hakutarkoitusid %}
    <dd>{{tarkotus.nimi}}</dd>
    {% endif %}
    {% endfor %}

</dl>
<br>
<dl class="dl-horizontal">
    <dt>Tietoja minusta </dt>
    <dd>{{user_logged_in.omattiedot}}</dd>
</dl>
<br>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Haluatko varmasti poistaa käyttäjätunnuksen?</h3>
    </div>
    <div class="panel-body">
        Mikäli poistat käyttäjätunnuksen häviävät kaikki viestit eikä tunnusta voida enää palauttaa.
        Hyväksy käyttäjätunnuksen poisto syöttämällä salasana.
        <br>
        <br>
        <form method="post" action="{{base_path}}/poistaTunnus" class="destroy-form" data-confirm="Oletko nyt aivan varma, että haluat poistaa käyttäjätunnuksesi?">
            <div class="form-group">
                <label>Salasana</label>
                <input name="salasana" class="form-control" type="password" required>
            </div>
            <button type="submit" class="btn btn-danger">Poista tunnus</button>
        </form>
    </div>
</div>


{% endblock %}