{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Saapuneet viestit</h1>
<br>

{% if viestit %}

<table class="table table-condensed table-bordered table-striped"  >
    <thead>
        <tr>
            <th>Lähettäjä</th>
            <th>Aihe</th>
            <th>Saapunut</th>
            <th>Merkitse lukemattomaksi</th>
            <th>Poista</th>
        </tr>
    </thead>

    <tbody>
        {% for viesti in viestit %}
        {% if viesti.luettu == false %}
        <tr class="info">
            {% else %}
        <tr>
            {% endif %}
            {% for tunnus in kayttajatunnus %}
            {% if tunnus.id == viesti.lahettajaid %}
            <td><a href="{{base_path}}/julkinenProfiilisivu/{{tunnus.id}}">{{tunnus.kayttajatunnus}}</a></td>
            {% endif %}
            {% endfor %}
            <td><a href="{{base_path}}/viestinSisalto/{{viesti.id}}">{{viesti.aihe}}</a></td>
            <td>{{viesti.viestinAika()}} <br> {{viesti.viestinPaiva()}}</td>
            <td>
                <form method="post" action="{{base_path}}/saapuneetViestit/{{viesti.id}}/lukematon" style="display: inline-block;">
                    <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span></button>
                </form>
            </td>
            <td>
                <form method="post" action="{{base_path}}/saapuneetViestit/{{viesti.id}}" class="destroy-form" data-confirm='Oletko varma, että haluat poistaa viestin?' style="display: inline-block;">
                    <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-remove" style="color:red"></span></button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h3><p class="text-muted">Sinulla ei ole saapuneita viestejä</p></h3>
{% endif %}
{% endblock %}
