{% extends "base.html" %}
{% block content %}


{% if viesti.lahettajaid == user_logged_in.id %}
<h3>Keskustelu käyttäjän <a href="{{base_path}}/julkinenProfiilisivu/{{vastaanottaja.id}}">{{vastaanottaja.kayttajatunnus}}</a> kanssa</h3>
{% else %}
<h3>Keskustelu käyttäjän <a href="{{base_path}}/julkinenProfiilisivu/{{lahettaja.id}}">{{lahettaja.kayttajatunnus}}</a> kanssa</h3>
{% endif %}
<br>
{% if viesti.lahettajaid == user_logged_in.id %}
<div class="panel panel-info">
    <div class="panel-heading">    
        <h3 class="panel-title">Sinä: <br> <small>Lähetetty: {{viesti.viestinAika()}}, {{viesti.viestinPaiva()}}</small></h3>
        {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">  
                <h3 class="panel-title">{{lahettaja.kayttajatunnus}}: <br> <small>Vastaanotettu: {{viesti.viestinAika()}}, {{viesti.viestinPaiva()}}</small></h3>
                {% endif %}
            </div>
            <div class="panel-body">
                <strong>Aihe: {{viesti.aihe}}</strong> <br><br> {{viesti.sisalto}}
            </div>
        </div>

        <form method="post" action="{{base_path}}/viestinSisalto/{{viesti.id}}">
            <div class="form-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {% if viesti.lahettajaid == user_logged_in.id %}
                        <h3 class="panel-title">Lähetä uusi viesti</h3>
                        <input name="lahettajaid" value="{{user_logged_in.id}}" type="hidden">
                        <input name="vastaanottajaid" value="{{vastaanottaja.id}}" type="hidden">
                        {% else %}
                        <h3 class="panel-title">Vastaa:</h3>
                        <input name="lahettajaid" value="{{user_logged_in.id}}" type="hidden">
                        <input name="vastaanottajaid" value="{{lahettaja.id}}" type="hidden">
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Aihe: </label>
                            <input name="aihe" class="form-control" value="RE: {{viesti.aihe}}" type="text">
                        </div>
                        <input name="viestiMuualta" value="0" type="hidden">
                        <input name="viestiid" value="{{viesti.id}}" type="hidden">
                        <textarea class="form-control" name="sisalto" required="required"></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Lähetä</button>
                    </div>
                </div>

            </div>
        </form>

        {% endblock %}